{{#each movie.extCasts}}
<div class="cast-card">
    <div class="card-img">
        <img src="{{cast.imageUrl}}" alt="cast">
    </div>
    <div class="cast-info">
        <h1>{{cast.name}}</h1>
        <h3>Age: {{cast.age}}</h3>
        <h3>Born: {{cast.born}}</h3>
        <h3>Name in Movie: {{character}}</h3>
    </div>
</div>
{{/each}}